body {
	margin: 0 auto;
	padding: 0;
	background-image: url('https://images.pexels.com/photos/303320/pexels-photo-303320.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
	background-size: cover;
}

.container {
	margin: 10%;
	border: 3px solid #ccc;
	text-align: center;
	background-color: #fff;
	line-height: 25px;
}